h1 {
	font-family: 'Patua One', cursive;
	color: #2d1c5c;
}

nav {
	font-family: 'Patua One', cursive;
}

.navbar-inverse {
    background-color: #2d1c5c;
    border-color: #7b7db3;
}
.navbar-inverse .navbar-brand {
    color: #7b7db3;
}
.navbar-inverse .navbar-toggle {
    border-color: #7b7db3;
}

p {
	color: #545685;
}

p.lead {
	color: #7b7db3;
}	

form {
	color: #545685;
}

table {
	color:#545685;
}

.btn-default {
    color: #545685;
    
}
